.headerContainer {
  height: 10vh;
  width: 100vw;
  background-color: #1b2a43;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  height: 90%;
  margin: 10px;
}

.navMenuContainer {
  height: 90vh;
  background-color: green;
}

@media screen and (max-width: 700px) {
  .navMenuBigScreen {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .navMenuSmallScreen {
    display: none;
  }
}
