.headerContainer {
  height: 10vh;
  width: 100vw;
  background-color: #1b2a43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}

.headerLogo {
  height: 90%;
  margin: 10px;
}

@media screen and (max-width: 950px) {
  .navMenuBigScreen {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .navMenuSmallScreen {
    display: none;
  }
}
