.navMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90vh;
  width: 100vw;
  background-color: #303d54;
  position: sticky;
  top: 10vh;
  left: 0;
}

.navMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #edeeef;
  font-family: "Khula", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titleNavMenu {
  font-size: 2rem;
  margin: 20px;
}

.navArrowIcon {
  font-size: 2rem;
  margin: 20px;
}
