.navMenuDesktopContainer {
  display: flex;
  gap: 40px;
  margin: 20px;
}

.titleDesktopNav {
  text-decoration: none;
  color: #edeeef;
  font-family: "Khula", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
}
