.pageContainer {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90vw;
}

.titlePageCases {
  font-family: "Khula", sans-serif;
  font-weight: 300;
}
